pyyaml
uritemplate==4.1.1
celery==5.2.2
Django==3.2.23
psycopg2-binary==2.8.5
redis==3.5.3
djantic==0.7.0
djangorestframework==3.14.0
drf-spectacular==0.24.2
django-cors-headers==3.13.0
git+https://github.com/gdcc/easyDataverse.git